/* Three columns side by side */
.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}


.name{
    height: 150px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 9999; /* Sit on top */
  padding-top: 80px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.5); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  min-height: 350px;
  position: relative;
  background-color: #f5f5f5;
  margin: auto;
  padding: 20px;
  width: 80%;
  animation-name: animatetop;
  animation-duration: 0.5s
}

.portrait{
    float: right; 
    padding: 0px 18px 8px 18px;
    object-fit: cover;
    width:300px;
    height:260px;
}

/* Display the columns below each other instead of side by side on small screens */
@media screen and (max-width: 1680px) {
  .name{
    height: 120px;
  }
}

/* Display the columns below each other instead of side by side on small screens */
@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
 
  .modal-content {
  min-height: 390px;
  }

  .name{
    height: 100px;
  }
    
  .portrait{
    float: right; padding: 0px 18px 8px 18px;
    object-fit: cover;
    width:100%;
    height:300px;
  }
    
  .modal-content{    
    width: 95%;
  }
}

/* Add some shadows to create a card effect */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/* Some left and right padding inside the container */
.container {
  padding: 0 26px;
  padding-bottom: 25px;
}

/* Clear floats */
.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

/* Add Animation */
@keyframes animatetop {
  from {top: -300px; opacity: 0}
  to {top: 0; opacity: 1}
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}