.mostly-customized-scrollbar::-webkit-scrollbar {
  width: 50px;
  height: 10px;
  background-color: #f5f5f5; /* or add it to the track */
}

/* Add a thumb */
.mostly-customized-scrollbar::-webkit-scrollbar-thumb {
    background: #6E5295;
}

.table-container { 
    width: 100% !important;
}

table {
    display: block;
    max-width: -moz-fit-content;
    max-width: fit-content;
    margin: 0 auto;
    overflow-x: auto;
/*    white-space: nowrap;*/
    border-spacing: 10px;
    border-collapse: separate;
}

body, input, select, textarea {
    font-size: 11pt;
}

#customers {
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
}

#customers td:hover {
    background-color: #6E5295;
    color: white;
}

#customers td {
  background-color: #f5f5f5;
  text-align: center;
  color: black;
  vertical-align: top;
}

.portimg{
  object-fit: cover;
  width:200px;
  height:170px;
  vertical-align: top;
}

table td, th{
  table-layout:fixed;
  overflow:hidden;
  word-wrap:break-word;
}

/* Display the columns below each other instead of side by side on small screens */
@media screen and (max-width: 736px) {
.portimg{
  object-fit: cover;
  width:130px;
  height:130px;
  vertical-align: top;
}
    
body, input, select, textarea {
    font-size: 9pt;
}