.table-container { 
    width: 100% !important;
}

table {
    display: block;
    max-width: -moz-fit-content;
    max-width: fit-content;
    margin: 0 auto;
    overflow-x: auto;
/*    white-space: nowrap;*/
}


#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers tr {
  border: 30px solid white;
/*  padding: 38px;*/
}

#customers td:hover {
    background-color: #6E5295;
    color: white;
}

#customers td {
  padding-top: 18px;
  padding-bottom: 18px;
  padding-left: 18px;
  padding-right: 18px;
  background-color: #f5f5f5;
  text-align: left;
  color: black;
  vertical-align: top;
}

.portimg{
  object-fit: cover;
  width:200px;
  height:200px;
  vertical-align: top;
}


table td, th{
  table-layout:fixed;
  width: 400px;
  overflow:hidden;
  word-wrap:break-word;
}

.firstcol{
  width:100px;  
}

#customers .firstcol {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-left: 0px;
  background-color: white;
}

/* Display the columns below each other instead of side by side on small screens */
@media screen and (max-width: 736px) {
.portimg{
  object-fit: cover;
  width:170px;
  height:170px;
  vertical-align: top;
}
    
table td, th{
  width: 200px;
}
    
body, input, select, textarea {
            font-size: 9pt;
        }